.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #003cb4;
    color: whitesmoke;
}
.nav-container{
    font-size: 20px;
}
.nav-item{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   margin-left: 20px;   
}
.nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-weight: normal;
}